.btn-magenta{
    background-color: rgb(190, 22, 190);
    border-color: rgb(138, 12, 138);
    color: white;
}

.btn-magenta:hover{
    background-color: rgba(190, 22, 190, 0.8);
}

.btn-brown{
    background-color: rgb(116, 68, 6);
    border-color: rgb(83, 49, 4);
    color: white;
}

.btn-brown:hover{
    background-color: rgba(116, 68, 6, 0.8);
}

.btn{
    margin-top: 2em;
    padding: 1em;
}

.volume{
    font-size: 0.5em;
    color: black;
}